@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12"></div>
    <ul id="marbleList"></ul>
</div>


<div class="row">
    <div class="col-md-12">
        <input type="text" name="name" value="" id="newMarble" />
        <button onclick="talkToServer();">Describe N Make a Marble!!</button>
    </div>
</div>
